.container {
    width: 90%;
    margin: auto;
}

#profile-picture img {
    display: block;
    max-width: 250px;
    margin: auto;
    margin-top: 40px;
}

#about-text {
    color: #f9f9f9;
    line-height: 170%;
    text-align: center;
    max-width: 500px;
    margin: auto;
    margin-top: 40px;
}