#info-left {
    float: left;
    height: calc(100vh - 230px);
    width: 50%;
    background: #fff;
    padding-left: 5%;
    padding-right: 150px;
    padding-top: 60px;
    position: relative;
}

#info-right {
    float: right;
    height: calc(100vh - 230px);
    width: 50%;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 60px;
}

#profile-picture img {
    display: block;
    margin: 0 auto;
    height: calc(100vh - 350px);
    width: auto;
    object-fit: cover;
    border-radius: 50%;

}

#about-text {
    color: #111;
    font-size: 16px;
    font-weight: 100;
    line-height: 200%;
    max-width: 700px;
    padding-bottom: 20px;
}

#contact {
    position: absolute;
    bottom: 0;
    margin-bottom: 60px;
}

.contact-info {
    font-size: 16px;
    font-weight: 100;
    margin-top: 20px;
}

#lqd {
    font-size: 32px;
    font-weight: 300;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px;
}

#sqd {
    color: #fff;
    font-size: 32px;
    font-weight: 300;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: 0px;

    /* ROTATION */
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}