.container {
    width: 90%;
    margin: auto;
}

#info {
    height: 100%;
    padding-bottom: 52px;
}

#profile-picture img {
    display: block;
    max-width: 250px;
    margin: auto;
    margin-top: 40px;
}

#contact {
    text-align: center;
    color: #fff;
    margin-top: 30px;
}

.contact-info {
    margin: 0px 10px 0px 10px;
}

.contact-divider {
    border-left: 1px solid #fff;
    height: 100px;
}

#about-text {
    color: #fff;
    line-height: 170%;
    text-align: justify;
    text-align-last: center;
    max-width: 500px;
    margin: auto;
    margin-top: 30px;
}