.container {
    width: 90%;
    margin: auto;
}

#profile-picture img {
    display: block;
    max-width: 250px;
    margin: auto;
    margin-top: 40px;
}

#contact {
    text-align: center;
    color: #fff;
    margin-top: 20px;
}

#about-text {
    color: #fff;
    line-height: 170%;
    text-align: justify;
    text-align-last: center;
    max-width: 500px;
    margin: auto;
    margin-top: 40px;
}