header {
    width: 100%;
    height: 150px;
    overflow: auto;
    background: #ffffff;
}

.container {
    width: 90%;
    margin: auto;
}

#logo {
    font-weight: 100;
    font-size: 40px;
    color: #111;
    margin-top: 50px;
    float: left;
}

#nav {
    float: right;
    margin-top: 40px;
}

#hamburger-menu {
    display: none;
}

.nav-link {
    margin-top: 30px;
    margin-left: 20px;
}

.fab {
    font-size: 14px;
}

a:link, a:visited {
    color: #9f9f9f;
    padding: 0px;
    text-decoration: none;
}

a:hover {
    color: #9f9f9f;
    text-decoration: underline;
    cursor: pointer;
}