* {
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background: #111;
    overflow: auto;
    padding-bottom: 42px;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

@media screen and (max-width: 640px) {
    html, body {
        padding-bottom: 28px;
    }
}

/* 

FONT BANK 

font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Rokkitt', serif;

*/