#projects {
    padding: 4px;
    height: 100%;
}

/* The .overlay settings are what keep the description text centered vertically */
.overlay {
    display: flex;
    justify-content: center;
    align-items: center
}

.project-thumbnail {
    float: left;
    width: 25%;
    transition: width .3s
}

.thumbnail-text {
    font-size: 36px;
    font-weight: 100;
}

/* HOVER OVERLAY */

.color-1 {
    background: #b12d36
}

.color-2 {
    background: #bd5035
}

.color-3 {
    background: #c29f23
}

.color-4 {
    background: #448d60
}

.color-5 {
    background: #4e65af;
}

.color-6 {
    background: #8a5fbb;
}

.color-7 {
    background: #97488d;
}

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: pointer;
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 50px 20px;
}

.hovereffect img {
    display: block;
    position: relative;
    max-width: none;
    /* edit the px value below to give the image room to move if using position animation */
    width: calc(100% + 0px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    /* edit the position values below to create the position animation */
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.hovereffect:hover img {
    opacity: .1;
    filter: alpha(opacity=40);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    overflow: hidden;
    padding: 0.5em 0;
    background-color: transparent;
}

.hovereffect h2:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.hovereffect:hover h2:after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.hovereffect a,
.hovereffect p {
    color: #FFF;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.hovereffect:hover a,
.hovereffect:hover p {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/* RESPONSIVENESS */

@media screen and (max-width: 1150px) {
    .project-thumbnail {
        width: 33.3%;
    }
}

@media screen and (max-width: 1024px) {
    .project-thumbnail {
        width: 50%;
    }
    .overlay {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    .project-thumbnail {
        width: 100%;
    }
}