#projects {
    height: 100%;
    padding: 4px;
}

/* The .overlay settings are what keep the description text centered vertically */
.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.project-thumbnail {
    float: left;
    width: 25%;
    transition: width .35s
}

.thumbnail-title {
    font-size: 32px;
    font-weight: 100;
}

.thumbnail-client {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 100;
    /* font-style: italic; */
}

/* HOVER OVERLAY */

.color-0 {
    background: #000;
}

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: pointer;
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 50px 20px;
}

.hovereffect img {
    display: block;
    position: relative;
    max-width: none;
    /* edit the px value below to give the image room to move if using position animation */
    width: calc(100% + 0px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    /* edit the position values below to create the position animation */
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.hovereffect:hover img {
    opacity: .5;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    /* GREYSCALE */
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.hovereffect a,
.hovereffect p {
    color: #fff;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.hovereffect:hover a,
.hovereffect:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/* RESPONSIVENESS */

@media screen and (max-width: 1150px) {
    .project-thumbnail {
        width: 33.3%;
    }
}

@media screen and (max-width: 1024px) {
    .project-thumbnail {
        width: 50%;
    }

    .hovereffect a,
    .hovereffect p {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        text-shadow: #111 0px 0px 2px;
    }

    .hovereffect img {
        opacity: .7;
    }

    .hovereffect:hover img {
        display: none;
    }

    .hovereffect:hover a,
    .hovereffect:hover p {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    .project-thumbnail {
        width: 100%;
    }
}