#project-right {
    float: right;
    width: 66%;
    padding-top:30px;
}

#project-left {
    float: left;
    width: 33%;
    padding-top: 30px;
    padding-right: 60px;
}

.project-title {
    font-size: 32px;
    font-weight: 100;
    color: #fff;
}

.project-client {
    font-size: 16px;
    font-style: italic;
    font-weight: 100;
    color: #fff;
    margin-top: 20px;
}

.project-descriptions {
    font-size: 16px;
    font-weight: 100;
    text-align: justify;
    color: #fff;
    line-height: 200%;
    margin-top: 40px;
}

/* .desc-paragraph {
    margin-bottom: 30px;
} */

.video-player-1 {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.video-player-2 {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* RESPONSIVENESS */

@media screen and (max-width: 1150px) {
    
}

@media screen and (max-width: 1024px) {
    #project-right {
        width: 100%;
    }
    
    #project-left {
        clear: both;
        width: 100%;
        padding-right: 0px;
    }

    .video-player-1 {
        position: relative;
        overflow: hidden;
        padding-top: 100%;
    }
}

@media screen and (max-width: 640px) {

}