* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    background: #111;
    /* fixes the fact that the float:left on the photos is causing the body to not take up the full height of the document */
    overflow: auto;
    padding-bottom: 42px;
}